name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main  # o master, según cómo se llame tu rama principal

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy to Firebase Hosting
        run: firebase deploy --only hosting --project gestion-stock-transportes --token ${{ secrets.FIREBASE_TOKEN }}
